@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, h1, input[type=text], button{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(images/books.jpg);
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    background-color:black;
    padding: 15px;
}

li {
  font: 500 135% 'Poppins', sans-serif;
  position: relative;
  line-height: 200%;
  padding-right: 50%;
  margin-top: 1%;
  color: white;
}

li > button {
  border: none;
  color: white;
  position: absolute;
  background-color: transparent;
  right: 0;
  font: 100 135% 'Poppins', sans-serif;
}

button{
    border: none;
    color: white;
    background-color: transparent;
    font: 100 120% 'Poppins', sans-serif;
}

input{
    border-radius: 5px;
    border-block-color: white;
    font: 100 120% 'Poppins', sans-serif;
    color: black;
}

li:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 30%;
}

.footer{
    text-align: center;
    padding: 1%;
    background-color:black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin-top: 30vw;
}
